CONFIG_MAXLINEAR_8611X_PHY=y
CONFIG_EEPROM_AT24=y
CONFIG_EEPROM_AT25=y
CONFIG_MULTIPLXER=y
CONFIG_MUX_GPIO=y
CONFIG_SPI_MUX=y

CONFIG_I2C_MUX_GPIO=m
CONFIG_I2C_MUX_GPMUX=m
CONFIG_I2C_MUX_PCA954x=m
CONFIG_SPI_MUX=y
CONFIG_BACKLIGHT_LED=m
CONFIG_LEDS_CLASS_MULTICOLOR=m
CONFIG_LEDS_LP55XX_COMMON=m
# CONFIG_LEDS_LP5521 is not set
# CONFIG_LEDS_LP5523 is not set
# CONFIG_LEDS_LP5562 is not set
# CONFIG_LEDS_LP8501 is not set
CONFIG_RTC_DRV_ABX80X=m
